SYSTEM:
  ETE_LATENCY_THRESHOLD: 5
  DATA_DIR: '/home/ubuntu/scg/config/'
  BS_FILE: 'base_stations.json'
  MEC_FILE: 'mecs.json'
  HMDS_FILE: 'hmds.json'
  RESULTS_DIR: '/home/ubuntu/scg/results/'
  SERVICE_PER_USER: 130

# variables for mininet-wifi 
NETWORK:
  HMDS: 10
  BASE_STATIONS: 32
  NETWORK_FILE: 'network_graph.json'
  NETWORK_FILE_DIR: '/home/ubuntu/scg/network/'
  NET_GRAPH_DIMENSION: 2000
  HMD_MIN_VELOCITY: 1000
  HMD_MAX_VELOCITY: 1500
  BS_CHANNEL: 1
  BS_RANGE: 500
  BS_MODE: 'g'
  BS_TX_POWER: 76
  LOWER_LATENCY_THRESHOLD: 0.5 
  UPPER_LATENCY_THRESHOLD: 1   

# variables for SDN controller
SDN:
  IP: 130.92.70.173
  PORT: 6653
  PROTOCOLS: 'OpenFlow13'


MIGRATION:  
  ALGORITHMS: 2

MEC_SERVERS:
  GPU_LAM: 110
  CPU_LAM: 200
  OVERALL_MECS: 32
  MECS_WITHOUT_GPUS: 5
  INITIAL_GPU_LOAD: 0.8 # percentage 
  INITIAL_CPU_LOAD: 0.8 # percentage
  LOWER_LATENCY_THRESHOLD: 3
  UPPER_LATENCY_THRESHOLD: 6
  INIT_RESOURCE_LOAD: 0.9 

HMDS:
  LOWER_LATENCY_THRESHOLD: 4
  UPPER_LATENCY_THRESHOLD: 7

SERVICES:
  VIDEO_RESOLUTION:
    LATENCY_THRESOLDS:
      8k: 3.5
      4k: 4
      2k: 4.5

ONOS:
  FILE_DIR: '/home/ubuntu/'
  FILE: 'SCG_ONOS_VARIABLES.sh'
  IP: 'SERVER_IP'
  PORT: 'OF_PORT'
  USER: 'ONOS_USER'
  PASS: 'PASSWORD'